body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
span {
    color: #2E2F42;
}
address {
    font-style: normal;
}
.logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.nav-link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: #404BBF;
}
.nav-address {
    color: #434455;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav-address:hover,
.nav-address:focus {
    color: #404bbf;
}
.text-none {
    display: none;
}
ul,
ol {
    list-style-type: none;
}
a {
    text-decoration: none;
}
.header {
    background-color: #2e2f42;
}
.header-title {
    text-align: center;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.header-button {
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}
.header-button:hover,
.header-button:active {
    background-color: #404BBF;
}
.concept-title,
.team-card-name,
.portfolio-card-name {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}
.concept-text,
.team-card-pos,
.portfolio-card-name-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.team {
    background-color: #F4F4FD;
}
.team-title,
.portfolio-title {
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}
.team-card,
.portfolio-card {
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
}
.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.footer-logo-studio {
    color: #F4F4FD;
}